<%- include('./partials/html-head') %>
<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
<% } %>
</head>

<body>
  <main>
      <h1>Automobile Aficionado</h1>
      <h2>Welcome!</h2>
      <% if (user?.profile.avatar) { %>
        <h3>Check out our car collection!</h3>
        <form 
        id="car-collection"
        action="/cars"
        method="get">
          <button type="submit">View Collection</button>
        </form>
        <div>
          <img
            id="avatar"
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
          />
        </div>
      <% } %>
      <nav>
        <% if (user) { %>
          <a href="/auth/logout">
            <button type="submit">Logout</button>
          </a>
        <% } else { %>
          <div>
            <h3>Login to continue</h3>
              <a href="/auth/google" class="siwg-link">
                <button type="submit" class="siwg">
                  <img id="siwg-image" alt="Sign in with Google" />
                </button>
              </a>
          </div>
        <% } %>
      </nav>
  </main>
</body>

<%- include('./partials/footer') %>
