<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>

<body>
  <main>
      <h1>Automobile Aficionado</h1>
      <h2>Welcome!</h2>
      <% if (user?.profile.avatar) { %>
        <h3 class="check-out">Check out our car collection!</h3>
        <form 
        id="car-collection"
        action="/cars"
        method="get">
          <button class="btn btn-success" type="submit">View Collection</button>
        </form>
        <div>
          <img
            id="avatar"
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
          />
        </div>
      <% } %>
      <nav>
        <% if (user) { %>
          <a href="/auth/logout">
            <button class="btn btn-warning" type="submit">Logout</button>
          </a>
        <% } else { %>
          <div>
            <h3>Login to continue</h3>
              <a href="/auth/google" class="siwg-link">
                <button type="submit" class="siwg">
                  <img id="siwg-image" alt="Sign in with Google" />
                </button>
              </a>
          </div>
        <% } %>
      </nav>
  </main>
<%- include('./partials/footer') %>
