span {
    font-weight: bold;
}

.review-rating, .review-content {
    display: block;
    margin-bottom: 5%;
}

p, label, th, td {
    font-size: 150%;
}

.edit-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}

#edit-btn {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 130%;
}

#delete-btn {
    font-size: 130%;
}

#leave-review {
    font-size: 110%;
}