body {
    background: url(https://imgpile.com/images/R8U9u3.jpg);
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-size: 350%;
    margin-top: 5%;
}

h2 {
    font-size: 250%;
    margin-top: 10%;
}

h3 {
    font-size: 200%;
    margin-top: 25%;
}

