body {
    background: url(https://imgpile.com/images/R8U9u3.jpg);
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-size: 250%;
    margin-top: 5%;
    color: white;
    display: inline-flex;
        background-color: black;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 25px;
}

h2 {
    font-size: 250%;
    margin-top: 10%;
    color: white;
}

h3 {
    font-size: 200%;
    margin-top: 25%;
    color: white;
}

.check-out {
    margin-top: 0;
}

#car-collection {
    margin-bottom: 5%;
}

@media only screen and (min-width: 650px) {
    h1 {
        font-size: 300%;
        margin-top: 5%;
        color: white;
    }
    
    h2 {
        font-size: 250%;
        margin-top: 10%;
        color: white;
    }
    
    h3 {
        font-size: 200%;
        margin-top: 25%;
        color: white;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 350%;
        margin-top: 5%;
        color: white;
    }
    
    h2 {
        font-size: 300%;
        margin-top: 10%;
        color: white;
    }
    
    h3 {
        font-size: 250%;
        margin-top: 25%;
        color: white;
    }
}

@media only screen and (min-width: 850px) {
    h1 {
        font-size: 400%;
        margin-top: 5%;
        color: white;
        display: inline-flex;
        background-color: black;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 25px;
    }
    
    h2 {
        font-size: 350%;
        margin-top: 5%;
        color: white;
        
    }
    
    h3 {
        font-size: 300%;
        margin-top: 5%;
        color: white;
    }
}