<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/dreamcars/new.css">

<div class="dream-car-form">
    <h1>Add Your Dream Car!</h1>
    <form id="add-your-dream-car" 
    action="/dreamcars"
    method="post">
        <div class="make">
            <label for="make">Make:</label>
            <input type="text" name="make" id="make" size="18">
        </div>
        <div class="model">
            <label for="model">Model:</label>
            <input type="text" name="model" id="model" size="17">
        </div>
        <div class="year">
            <label for="year">Year:</label>
            <input type="text" name="year" id="year" size="18">
        </div>
            <button id="add-dream-car" class="btn btn-success" type="submit">Add Car</button>
    </form>
</div>

<%- include('../partials/footer') %>